<table class="noshow">
	<tr>
   		<td width="50%" valign="top">
			<table class="noshow">
      			<tr>
        			<td width="50%" valign="top">
						<fieldset class="adminform">
							<legend><?php echo JText::_( 'GLOBAL PARAMETERS' ); ?></legend>
							<table class="admintable" cellspacing="1">
								<tbody>
	 								<tr>
	          							<td width="300" class="key">
											<span class="editlinktip hasTip" title="<?php echo JText::_( 'Page Title' ); ?>::<?php echo JText::_('Show/Hide the pages Title'); ?>">
												<?php echo JText::_( 'Page Title' ); ?>
											</span>
										</td>
       									<td valign="top">
        									<?php
											echo JHTML::_('select.booleanlist', 'globalparams[page_title]', 'class="inputbox"', $this->globalparams->get('page_title'), 'Show', 'Hide' );
        									?>
       	 								</td>
      								</tr>
      								<tr>
	          							<td width="300" class="key">
											<span class="editlinktip hasTip" title="<?php echo JText::_( 'EVENT NUMBER' ); ?>::<?php echo JText::_('EVENT NUMBER TIP'); ?>">
												<?php echo JText::_( 'EVENT NUMBER' ); ?>
											</span>
										</td>
       									<td valign="top">
        									<?php
		  									$nr = array();
											$nr[] = JHTML::_('select.option', '5', 5 );
											$nr[] = JHTML::_('select.option', '10', 10 );
											$nr[] = JHTML::_('select.option', '15', 15 );
											$nr[] = JHTML::_('select.option', '20', 20 );
											$nr[] = JHTML::_('select.option', '25', 25 );
											$nr[] = JHTML::_('select.option', '30', 30 );
											$nr[] = JHTML::_('select.option', '50', 50 );
											$nrevents = JHTML::_('select.genericlist', $nr, 'globalparams[display_num]', 'size="1" class="inputbox"', 'value', 'text', $this->globalparams->get('display_num') );
											echo $nrevents;
        									?>
       	 								</td>
      								</tr>
      								<tr>
	          							<td width="300" class="key">
											<span class="editlinktip hasTip" title="<?php echo JText::_( 'CAT DISPLAY' ); ?>::<?php echo JText::_('CAT DISPLAY DESC'); ?>">
												<?php echo JText::_( 'CAT DISPLAY' ); ?>
											</span>
										</td>
       									<td valign="top">
											<input type="text" name="globalparams[cat_num]" value="<?php echo $this->globalparams->get('cat_num'); ?>" size="3" maxlength="3" />
       	 								</td>
      								</tr>
      								<tr>
	          							<td width="300" class="key">
											<span class="editlinktip hasTip" title="<?php echo JText::_( 'Empty Categories' ); ?>::<?php echo JText::_('Show/Hide empty(no items) categories'); ?>">
												<?php echo JText::_( 'Empty Categories' ); ?>
											</span>
										</td>
       									<td valign="top">
        									<?php
											echo JHTML::_('select.booleanlist', 'globalparams[empty_cat]', 'class="inputbox"', $this->globalparams->get('empty_cat'), 'Show', 'Hide' );
        									?>
       	 								</td>
      								</tr>
      								<tr>
	          							<td width="300" class="key">
											<span class="editlinktip hasTip" title="<?php echo JText::_( 'Filter' ); ?>::<?php echo JText::_('Show/Hide the Filter ability'); ?>">
												<?php echo JText::_( 'Filter' ); ?>
											</span>
										</td>
       									<td valign="top">
        									<?php
											echo JHTML::_('select.booleanlist', 'globalparams[filter]', 'class="inputbox"', $this->globalparams->get('filter'), 'Show', 'Hide' );
        									?>
       	 								</td>
      								</tr>
      								<tr>
	          							<td width="300" class="key">
											<span class="editlinktip hasTip" title="<?php echo JText::_( 'Display Select' ); ?>::<?php echo JText::_('Show/Hide the Display Select dropdown'); ?>">
												<?php echo JText::_( 'Display Select' ); ?>
											</span>
										</td>
       									<td valign="top">
        									<?php
											echo JHTML::_('select.booleanlist', 'globalparams[display]', 'class="inputbox"', $this->globalparams->get('display'), 'Show', 'Hide' );
        									?>
       	 								</td>
      								</tr>
      								<tr valign="top">
	          							<td width="300" class="key">
											<span class="editlinktip hasTip" title="<?php echo JText::_( 'Show Icons' ); ?>::<?php echo JText::_('Show the icons or use alternative text'); ?>">
												<?php echo JText::_( 'Show Icons' ); ?>
											</span>
										</td>
       									<td valign="top">
		 									<?php
          									echo JHTML::_('select.booleanlist', 'globalparams[icons]', 'class="inputbox"', $this->globalparams->get('icons'), 'Show', 'Hide' );
       										?>
       	 								</td>
      								</tr>
      								<tr valign="top">
	          							<td width="300" class="key">
											<span class="editlinktip hasTip" title="<?php echo JText::_( 'Print Icon' ); ?>::<?php echo JText::_('Show the Print Icon'); ?>">
												<?php echo JText::_( 'Print Icon' ); ?>
											</span>
										</td>
       									<td valign="top">
		 									<?php
          									echo JHTML::_('select.booleanlist', 'globalparams[show_print_icon]', 'class="inputbox"', $this->globalparams->get('show_print_icon'), 'Show', 'Hide' );
       										?>
       	 								</td>
      								</tr>
      								<tr valign="top">
	          							<td width="300" class="key">
											<span class="editlinktip hasTip" title="<?php echo JText::_( 'Email Icon' ); ?>::<?php echo JText::_('Show the Email Icon'); ?>">
												<?php echo JText::_( 'Email Icon' ); ?>
											</span>
										</td>
       									<td valign="top">
		 									<?php
          									echo JHTML::_('select.booleanlist', 'globalparams[show_email_icon]', 'class="inputbox"', $this->globalparams->get('show_email_icon'), 'Show', 'Hide' );
       										?>
       	 								</td>
      								</tr>
								</tbody>
							</table>
						</fieldset>
					</td>

					<td width="50%" valign="top">
						<table class="noshow">
      						<tr>
        						<td width="50%" valign="top">
									<fieldset class="adminform">
										<legend><?php echo JText::_( 'ATTENTION' ); ?></legend>
										<table class="admintable" cellspacing="1">
											<tbody>
	 											<tr>
	          										<td>
														That's are just overrides for the menu parameters. They are only used if blablub blafasel blafasel too late for writing in english
       	 											</td>
      											</tr>
											</tbody>
										</table>
		 							</fieldset>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>