<?xml version="1.0" encoding="utf-8"?>
<config>
	<params>
		<param name="page_title" type="radio" default="1" label="Page Title" description="Show/Hide the pages Title">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</param>
		<param name="display_num" type="list" default="15" label="EVENT NUMBER" description="EVENT NUMBER TIP">
			<option value="5">5</option>
			<option value="10">10</option>
			<option value="15">15</option>
			<option value="20">20</option>
			<option value="25">25</option>
			<option value="30">30</option>
			<option value="50">50</option>
		</param>
		<param name="cat_num" type="text" size="2" default="4" label="CAT DISPLAY" description="CAT DISPLAY DESC" />
		<param name="empty_cat" type="radio" default="0" label="Empty Categories" description="Show/Hide empty(no items) categories">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</param>
  		<param name="filter" type="radio" default="1" label="Filter" description="Show/Hide the Filter ability">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</param>
		<param name="display" type="radio" default="1" label="Display Select" description="Show/Hide the Display Select dropdown">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</param>
 	</params>
</config>
